extends layout/default

block content
  .d-flex
    h1.me-auto ผู้ใช้งานทั้งหมด
    div
      a.btn.btn-primary(href="/users/new") เพิ่มผู้ใช้งาน
  if users.length == 0
    p.text-secondary.text-center ไม่พบข้อมูลผู้ใช้งาน
  else
    table.table
      thead.thead-light
        tr
        th ชื่อ
        th อายุ
        th จัดการข้อมูล
      tbody
        each user in users
          tr
            td= user.name
            td= user.age
            td
              .d-flex.align-items-center
                a.btn.btn-sm.btn-primary.me-1(href=`/users/${user._id}`) ดูข้อมูล
                a.btn.btn-sm.btn-success.me-1(href=`/users/${user._id}/edit`) แก้ไข
                a.btn.btn-sm.btn-danger.me-1(href=`/users/${user._id}/delete` onclick='confirm("ลบจริงไหม")') ลบ
                form(action=`/users/${user._id}/record` method='post')
                  .input-group
                    input.form-control(type="text" name="note" placeholder="หมายเหตุ")
                    button.btn.btn-secondary บันทึก

